@charset "UTF-8";

:root{
    --cor0:white;
    --cor1:#BFA688;
    --cor2:#F2DEC4;
    --cor3:#F29544;
    --cor4:#594A3C;
    --cor5:#8C7561;

}
*{
    padding: 0px;
    margin: 0px;
}
body{
    overflow-x: hidden;
    background-color: var(--cor5);
}
header{
    background-color: var(--cor1);
    height: 85px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.100);
}
header > img{
    width: 100px;
    padding-left: 30px;
}
nav{
    position: absolute;
    top: 5%;
    right: 0;
    padding: 10px;
    padding-left: 10px;
    
}
nav > a {
text-decoration: none;
color:var(--cor4);
padding: 15px;

}
nav > a:hover{
    text-decoration:none;
    color: var(--cor1);
    background: var(--cor4);
    border-radius: 3px;
    transition: 0.5s;
}
main{
    background-color: var(--cor5);
    margin: 50px;
    
}
main > h1{
text-align: center;
padding-bottom: 40px;
font-size: 2.0em;
text-shadow: 2px rgba(0, 0, 0, 0.476);
}

main > div{
    background-color:#f2dec452;
    border-radius: 5px;
    width: 900px;
    height: 500px;
    position: relative;
    left: 15%;
   
}
main > div > h2{
position: relative;
left: 70px;
top: 30px;
}
main > div > p{
   padding: 20px;
   top: 40px;
   position: relative;
}
main > div >img{
width: 400px;
border-radius: 5px;
position: relative;
left: 400px;
top: -340px;
}
section{
background-color: var(--cor1);
 padding: 50px;
 padding-top: -10px;
}
section >h2 {
   text-align: center;
   padding: 30px;
}  

section > div{



}

section > div > img{
width: 300px;
height: 350px;
padding: 20px;
position:relative;
left: 9%;



}
footer{
    background-color: var(--cor4);
    color: white;
}
