@charset "UTF-8";


:root{
    --cor0:white;
    --cor1:#BFA688;
    --cor2:#F2DEC4;
    --cor3:#F29544;
    --cor4:#594A3C;
    --cor5:#7e6a59;

}
*{
    padding: 0px;
    margin: 0px;
}
body{
    overflow-x: hidden;
    background-color: var(--cor5);
}
header{
    background-color: var(--cor1);
    height: 85px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.050);
}
header > img{
    width: 100px;
    padding-left: 30px;
}
nav{
    position: absolute;
    top: 5%;
    right: 0;
    padding: 10px;
    padding-left: 10px;
    
}
nav > a {
text-decoration: none;
color:var(--cor4);
padding: 15px;

}
nav > a:hover{
    text-decoration:none;
    color: var(--cor1);
    background: var(--cor4);
    border-radius: 3px;
    transition: 0.5s;
}
div.sidebar{
    position: fixed;
    width: 170px;
    height: 100%;
    
    left: 0;
    background-color: var(--cor4);
}
.sidebar > a{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor0);
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 20px;
    box-sizing: border-box;
}

div.slider{
    
}
div.slider > ul {
    display: block;
    height: 439.5px;
    width: 900px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}

div.slider > ul > li {
    list-style: none;
    position: absolute;
}

div.slider > ul > li > img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
}
div.slider > ul > li > label {
    background-color:white;
    bottom: 10px;
    border-bottom-style:hidden;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

div.slider > ul > li:nth-child(1) label {
    left: 10px;
}

div.slider > ul > li:nth-child(2) label {
    left: 40px;
}

div.slider > ul > li:nth-child(3) label {
    left: 70px;
}

div.slider > ul > li > img {
    opacity: 0;
    visibility: hidden;
}

div.slider > ul > li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

main{
background-color: white;
padding-bottom: 0%;
width: 100%;


}
main > svg{
    margin-bottom: 0%;
    width: 100%;
    color: var(--cor5);
}
main > h2{
    padding: 20px;
    position: relative;
    text-align: center;
    padding-top: 40px;
    font-size: 1.8em;
}
main > ul{
display: flex;
padding-top: 50px;
list-style: none;
position: relative;
left: 15%;
}
main > ul > li{

}
main > ul > li > a > img{
width: 300px;
padding: 10px;
}


footer {
    background-color: var(--cor5);
    color: var(--cor0);
   
   
}
